*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bg1.jpg);
}
nav{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 0 10px;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid rgb(14, 12, 12);
    background-color: rgb(14, 12, 12);
    font-size: 120%;
    text-shadow: 4px 4px 7px rgb(36, 171, 224), 0 0 5px rgb(85, 85, 202);
}
nav h2{
    font-size: 36px;
    text-shadow: 3px 3px 7px blue, 0 0 5px violet,2px 2px 5px purple ;
    color: skyblue;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: yellow;
}
button{
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.in{
    background-color: rgb(209, 51, 51);
}
.up{
    background-color: rgb(50, 50, 192);

}
button:hover{
    cursor: pointer;
}
